.title-name {
  color: orangered;
  text-align: center;
  font-style: italic;
  font-size: 45px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.slogan {
  text-align: center;
  font-size: 25px;
}
